.def-term {
  font-size: 4rem;
}

definition-page .term-container {
  padding: 2rem;
  margin-bottom: 2rem;
}

definition-page .list-container {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

definition-page .list-item {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

definition-page ruby rt {
  font-size: 100%;
}

/** Single-character term display */
definition-page section[ng-if="$ctrl.isSingleCharacter"] {
  display: flex;
}

definition-page section[ng-if="$ctrl.isSingleCharacter"]
.tts {
  align-self:center;
}

definition-page section[ng-if="$ctrl.isSingleCharacter"]
.term-info {
  padding: 0 2rem 0 2rem;
  flex: auto;
}

definition-page #svg-container {
  display: none;
  align-self: stretch;
  width: 8rem;
  border: 1px solid #aaa;
}

/** Multi-character term display */
definition-page section[ng-if="!$ctrl.isSingleCharacter"] {
  text-align: center;
}

definition-page section[ng-if="!$ctrl.isSingleCharacter"]
.tts {
  display: inline-block;
}

definition-page  .clickable:hover {
  background-color: rgba(0, 0, 0, .25);
  cursor: pointer;
}

definition-page .circle-button {
  margin-left: 0.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .25);
}

definition-page .tts {
  background-color: #c83232;
  background-image: url('/images/icons/tts.png');
  background-size: 60%;
}

definition-page .tts:hover {
  background-color: #922424;
}

definition-page .stroke-reload-button {
  background-color: #268026;
  background-image: url('/images/icons/replay.png');
  background-size: 80%;
  align-self: center;
}

definition-page .stroke-reload-button:hover {
  background-color: #1D611D;
}

definition-page .measure-word-container {
  margin-top: 1rem;
}

definition-page .measure-word-icon {
  color: white;
  background-color: #1e6483;
  border-radius: 2rem;
  padding: 0 1rem .1rem 1rem;
  margin-right: 1rem;
  font-weight: bold;
  user-select: none;
  cursor: default;
}

definition-page .cmn-sentence {
  font-size: 120%;
  letter-spacing: 0.4rem;
}