<nav-bar></nav-bar>
<section class="card-view term-container">
  <section ng-if="$ctrl.isSingleCharacter">
    <ruby ng-repeat="pinyin in $ctrl.entries[0].pinyin.split(' ') track by $index">
      <rb class="chinese-chars def-term">
        <span ng-if='$ctrl.isSimplified'>
          {{ $ctrl.entries[0].simplified.charAt($index) }}
        </span>
        <span ng-if='!$ctrl.isSimplified'>
          {{ $ctrl.entries[0].traditional.charAt($index) }} 
        </span>
      </rb>
      <rt>{{ pinyin }}</rt>
    </ruby>
    <section class="circle-button tts" ng-click="$ctrl.speak()"></section>
    <section class='term-info'>
      <span ng-if='$ctrl.isSimplified'>
        <span ng-if='$ctrl.sRadical' class="clickable" ng-click="$ctrl.goToRadical($ctrl.sRadical)">
          Radical: {{ $ctrl.sRadical }}<br>
        </span>
        Strokes: {{ $ctrl.entries[0].sStrokes }}
      </span>
      <span ng-if='!$ctrl.isSimplified'>
          <span ng-if='$ctrl.tRadical' class="clickable" ng-click="$ctrl.goToRadical($ctrl.tRadical)">
            Radical: {{ $ctrl.tRadical }}<br>
          </span>
        Strokes: {{ $ctrl.entries[0].tStrokes }}
      </span>
    </section>
    <section id="svg-container"></section>
    <section class="circle-button stroke-reload-button" ng-click="$ctrl.reloadSVG()"></section>
  </section>
  <section ng-if="!$ctrl.isSingleCharacter">
    <section class="term-info">
      <ruby ng-repeat="pinyin in $ctrl.entries[0].pinyin.split(' ') track by $index">
        <rb class="chinese-chars def-term clickable"  ng-click="$ctrl.goToDefinition($index)">
          <span ng-if='$ctrl.isSimplified'>
            {{ $ctrl.entries[0].simplified.charAt($index) }}
          </span>
          <span ng-if='!$ctrl.isSimplified'>
            {{ $ctrl.entries[0].traditional.charAt($index) }} 
          </span>
        </rb>
        <rt>{{ pinyin }}</rt>
      </ruby>
      <section class="circle-button tts" ng-click="$ctrl.speak()"></section>
    </section>
  </section>
</section>
<section class="card-view list-container">
  <section class="section-header">Definitions</section>
  <section ng-repeat="entry in $ctrl.entries" class="list-item">
    <h4>{{ entry.pinyin }}</h4>
    <section ng-repeat="def in entry.definitions">
      <strong>{{ $index + 1 }}</strong>  {{ def }}<br>
    </section>
    <section class="measure-word-container chinese-chars" ng-if="entry.tMeasureWords && entry.tMeasureWords.length > 0">
      <span class="measure-word-icon">Measure Words</span>
      <span ng-repeat="word in $ctrl.getMeasureWords($index)">
        <span class="clickable" ng-click="$ctrl.goToWord(word)">{{ word }}</span>
      </span>
    </section>
  </section>
</section>
<section class="card-view list-container" ng-if="$ctrl.sentences.length > 0">
  <section class="section-header">Usage Examples</section>
  <section ng-repeat="sentence in $ctrl.sentences" class="list-item">
    <section class="chinese-chars cmn-sentence">{{ sentence.cmn }}</section>
    <section>{{ sentence.eng }}</section>
  </section>
</section>

<link rel="stylesheet" href="/app/definition-page/definition-page.style.css">