body {
  font: 16px Helvetica, Arial, sans-serif;
  background: #f4f4f4;
  color: #3b3e41;
}

body > main-page {
  background-color: #1e6483; 
  color: #f4f4f4;
}

a {
  color: #00B7FF;
}

a, a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.card-view { 
  background: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .10);
}

.section-header {
  border-bottom: 1px solid #eee;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 2rem;
}

.def-term {
  font-size: 48px;
}

.secondary-script {
  color: #aaa;
}

.chinese-chars {
	font-family: Helvetica, Arial, "Microsoft YaHei", "微软雅黑体", "STHeiti", "华文楷体", sans-serif;
}

#main-page {
  margin-top: 12rem;
}
