mode-toggle {
  font-weight: bold;
}

mode-toggle > div {
  height: 3.4rem;
  padding: 0 1.6rem 0 1.6rem;
  border-radius: 3rem;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
  /* background-color: rgba(0, 0, 0, 0.05); */
  background-color: rgba(200, 50, 50, 1);
  color: white;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  mode-toggle > div {
    height: 4rem;
  }
}