pos-page > section {
  text-align: center;
}

pos-page .term {
  font-size: 10rem;
}

pos-page .definitions {
  width: fit-content;
  text-align: left;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

pos-page input[type="text"] {
  width: 30rem;
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 100%;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #ebf2f5;
  /* border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2); */
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  text-align: left;
}

.tt-suggestion {
  color: #444;
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #ebf2f5;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}