<h2>Strokes and Radicals</h2>
<p>Update stroke count and radical information using CCDB API (http://ccdb.hemiola.com)</p>
<section>
  <section>
    Entries updated: {{ $ctrl.numEntriesUpdated }}
  </section>
  <section>
    Update character radicals and stroke counts:&nbsp; 
    <input type="button" ng-click="$ctrl.updateRadicalsAndStrokes()" value="Start">
  </section>
  <section>
    Create or update radical database:&nbsp;
    <input type="button" ng-click="$ctrl.updateRadicalDb()" value="Start">
</section>