<!DOCTYPE html>
<html>
<head>
  <title>Chinese Dictionary</title>

  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
</head>
<body ng-app="app">
  <div id="outer-container" class="col-md-8 col-md-offset-2">
    <div ng-view></div>
  </div>

<!-- Load Scripts -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
<!-- App Code -->
<script src="/app/app.module.js"></script>
<script src="/app/app.config.js"></script>
<!-- Core -->
<script src="/app/core/services/cache.service.js"></script>
<script src="/app/core/services/search.service.js"></script>
<!-- Main Page -->
<script src="/app/main-page/main-page.module.js"></script>
<script src="/app/main-page/main-page.component.js"></script>
<!-- Results Page -->
<script src="/app/results-page/results-page.module.js"></script>
<script src="/app/results-page/results-page.component.js"></script>
<!-- Definition Page -->
<script src="/app/definition-page/definition-page.module.js"></script>
<script src="/app/definition-page/definition-page.component.js"></script>
<!-- pinyinify -->
<script src="/javascripts/pinyinify.js"></script>
</body>
</html>