body {
  padding: 50px;
  font: 16px Helvetica, Arial, sans-serif;
  background: #f4f4f4;
  color: #3b3e41;
}

a {
  color: #00B7FF;
}

.card-view { /** TODO example, may not be needed */
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .10);
}

.def-term {
  font-size: 48px;
}

.secondary-script {
  color: #aaa;
}

.chinese-chars {
	font-family: Helvetica, Arial, "Microsoft YaHei", "微软雅黑体", "STHeiti", "华文楷体", sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #337ab7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position:absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #d32121;
}

input:focus + .slider {
  box-shadow: 0 0 1px #d32121;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#nav-bar {
  background-color: rgba(255, 255, 255, 0.9);
  position: sticky;
  -webkit-position: sticky;
  top: 0px;
  height: 100px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .10); 
}
