body {
  font: 16px Helvetica, Arial, sans-serif;
  background: #f4f4f4;
  color: #3b3e41;
}

a {
  color: #00B7FF;
}

a, a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.card-view { /** TODO example, may not be needed */
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .10);
}

.def-term {
  font-size: 48px;
}

.secondary-script {
  color: #aaa;
}

.chinese-chars {
	font-family: Helvetica, Arial, "Microsoft YaHei", "微软雅黑体", "STHeiti", "华文楷体", sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3rem;
  margin: 0;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3rem;
  background-color: #337ab7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position:absolute;
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  left: .25rem;
  bottom: .25rem;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #d32121;
}

input:focus + .slider {
  box-shadow: 0 0 1px #d32121;
}

input:checked + .slider:before {
  -webkit-transform: translateX(3rem);
  -ms-transform: translateX(3rem);
  transform: translateX(3rem);
}

nav-bar {
  position: sticky;
  -webkit-position: sticky;
  height: 6rem;
  display: block;
  margin-bottom: 2rem;
}

#nav-bar {
  background-color: rgb(30, 100, 131);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 6rem;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .20); 
  display: flex;
}

nav-bar search-field {
  flex: auto;
  align-self: center;
  padding: 0 1rem 0 1rem;
}

#logo-box {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  font-size: 3rem;
  height: 100%;
  cursor: pointer;
  user-select: none;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}

#logo-box:active {
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: multiply;
}

nav-bar mode-toggle {
  align-self: center;
  margin-right: 2rem;
}

#main-page {
  margin-top: 12rem;
}
