<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chi Manager</title>
  </head>
  <body ng-app="app" ng-controller="mainController">
    <nav>
      <ul class="button-list">
        <li>
          <input type="radio" id="nav-main" ng-model="navSelection" value="main" name="nav">
          <label for="nav-main"><div>Main Page<div></label>
        </li>
        <li>
          <input type="radio" id="nav-pos" ng-model="navSelection" value="pos" name="nav">
          <label for="nav-pos"><div>Parts of Speech<div></label>
        </li>
        <li>
          <input type="radio" id="nav-def" ng-model="navSelection" value="def" name="nav">
          <label for="nav-def"><div>Definitions<div></label>
        </li>
        <li>
          <input type="radio" id="nav-rad-str" ng-model="navSelection" value="rad-str" name="nav">
          <label for="nav-rad-str"><div>Strokes and<br>Radicals<div></label>
        </li>
        <li>
          <input type="radio" id="nav-mea" ng-model="navSelection" value="mea" name="nav">
          <label for="nav-mea"><div>Measure Words<div></label>
        </li>
        <li>
          <input type="radio" id="nav-str-ani" ng-model="navSelection" value="str-ani" name="nav">
          <label for="nav-str-ani"><div>Stroke Order Animations<div></label>
        </li>
    </nav>
    <section class="content">
      <main-page ng-if="navSelection === 'main'"></main-page>
      <pos-page ng-if="navSelection === 'pos'"></pos-page>
      <rad-str-page ng-if="navSelection === 'rad-str'"></rad-str-page>
      <mea-page ng-if="navSelection === 'mea'"></mea-page>
      <str-ani-page ng-if="navSelection === 'str-ani'"><</str-ani-page>
    </section>

    <!-- Load Scripts -->
    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- jQuery -->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!--Angular-->
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <!-- Typeahead -->
    <script type="text/javascript" src="../bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
    <!-- Angular-Typeahead -->
    <script type="text/javascript" src="../bower_components/angular-typeahead/dist/angular-typeahead.min.js"></script>
    <!-- App Scripts -->
    <script type="text/javascript" src="./app.config.js"></script>
    <script src="./main-page/main-page.component.js"></script>
    <script src="./pos-page/pos-page.component.js"></script>
    <script src="./mea-page/mea-page.component.js"></script>
    <script src="./rad-str-page/rad-str-page.component.js"></script>
    <script src="./str-ani-page/str-ani-page.component.js"></script>
    <script src="./core/services/mongo.service.js"></script>
    <script src="./core/services/externalAPI.service.js"></script>
    <!-- Styling -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
  </body>
</html>